html {
  height: 100%;
  width: 100%;
}

/* File name: styles.css */

body {
  font-family: Arial, sans-serif;
  background: #f6faff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.titelfeld {
  min-width: 80%;
  border-radius: 8px;
  color: #017aff;
  text-align: center;
}

.container1 {
  min-width: 80%;
  padding: 10px;
  border-radius: 8px;
  background-color: #e5f2ff;
  color: #017aff;
  margin-bottom: 10px;
  font-size: 13px;
}

.container2 {
  padding: 10px;
  border-radius: 8px;
  background-color: #e5f2ff;
  margin-bottom: 10px;
  width: 80%;
}

.container3 {
  padding: 10px;
  border-radius: 8px;
  background-color: #e5f2ff;
  margin-bottom: 10px;
  width: 80%;
}

.container4 {
  padding: 10px;
  border-radius: 8px;
  background-color: #e5f2ff;
  margin-bottom: 10px;
  width: 80%;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

.textarea {
  width: 100%;
  min-height: 200px;
  font-size: 16px;
  resize: none;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: none;
}

.indicator {
  font-size: 10px;
  margin-left: 10px;
}

.label {
  margin-bottom: 10px;
  margin-top: 0px;
}

.button {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  color: #017aff;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: 2px solid #017aff;
  border-radius: 13px;
  font-weight: bold;
}

.button3 {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  color: #017aff;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: 2px solid #017aff;
  border-radius: 13px;
  font-weight: bold;
  margin-left: auto;
}

.button2 {
  display: inline-block;
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #3498db;
  background: #017aff;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 13px;
  font-weight: bold;
}

::placeholder {
  color: rgb(34, 34, 34);
  opacity: 1;
  font-size: 13px;
}

.button:hover {
  background-color: #017aff;
  color: #ffffff;
}

audio::-webkit-media-controls-panel {
  background-color: #fff;
}

audio::-webkit-media-controls-current-time-display {
  color: #017aff;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #017aff;
}

audio {
  background-color: #fff;
  border-radius: 13px;
  height: 60px;
  border: 2px Solid #017aff;
  width: 100%;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.spinner {
  display: none;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
